.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  font-size: 15px;
}

.year,
.month,
.day {
  color: var(--color-dimmed);
}

.slash {
  color: var(--color-fg);
}

.datesmol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  font-size: 15px;
  justify-content: flex-start;
}