@import url("./vars/colors.css");
@import url("./vars/fonts.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-serif);
  background-color: var(--color-root);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

p,
a {
  margin: 0;
  padding: 0;
}
/* width */
body::-webkit-scrollbar {
  display: none;
}

/* Track */
body::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  display: none;
}